* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #fff;
  color: #494949;
}

.page-title {
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 50px;
}

.page-subtitle {
  font-size: 20px;
  text-align: left;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 80px;
  margin: 10px 20px;
}

.intro {
  display: grid;
  padding: 30px;
  justify-items: start;
  gap: 40px;
}

.area-digitacao {
  display: grid;
  gap: 30px;
  padding: 30px;
  justify-items: center;
  align-items: end;
}

.botao {
  background-color: #FADA06;
  color: #fff;
  padding: 16px 32px;
  border-radius: 5px;
  text-transform: uppercase;
}

.botao:hover {
  background-color: #b9a000;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  background-color: #eee;
  border-radius: 5px;
}

.box-principal {
  display: flex;
  justify-content: center;
}

input {
  border-bottom: 2px solid #FADA06;
  background: none;
  width: 100%;
  height: 50px;
  color: #000;
  font-size: 20px;
}

#resultado {
  font-size: 25px;
  background-color: #494949;
  padding: 10px;
  border-radius: 5px;
  width: 303px;
  height: 38px;
  color: #fff;
  text-align: center;

}
